#--------------------------------------------------------------------------
# .gitignore
#
# @author: Wild Boar
#--------------------------------------------------------------------------

# Test Runner
TestRunner/build/

# Problem Maker
ProblemMaker/build/
